<div class="max-w-4xl mx-auto p-6">
    <!-- Toggle Menu -->
    <div class="flex justify-center mb-6">
        <button (click)="selectedTab = 'password'" class="px-6 py-2 rounded-l-lg font-semibold transition-all"
            [ngClass]="{
          'bg-blue-600 text-white': selectedTab === 'password',
          'bg-gray-100 text-gray-700 hover:bg-gray-200': selectedTab !== 'password'
        }">
            Generate Password
        </button>
        <button (click)="selectedTab = 'passphrase'" class="px-6 py-2 rounded-r-lg font-semibold transition-all"
            [ngClass]="{
          'bg-blue-600 text-white': selectedTab === 'passphrase',
          'bg-gray-100 text-gray-700 hover:bg-gray-200': selectedTab !== 'passphrase'
        }">
            Generate Passphrase
        </button>
    </div>

    @if(selectedTab === 'password') {
    <app-create-password></app-create-password>
    } @else {
    <app-create-pass-phrase></app-create-pass-phrase>
    }

</div>