<div
  class="grid grid-cols-1 md:grid-cols-3 gap-6 p-4 bg-white rounded-xl shadow-md"
>
  <!-- Search Bar with PrimeNG InputGroup -->
  <p-inputGroup>
    <p-inputGroupAddon>
      <i class="pi pi-search text-gray-400 text-lg"></i>
    </p-inputGroupAddon>
    <input
      pInputText
      [formControl]="searchTerm"
      placeholder="Search by website, username, or email"
      class="w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-400 focus:border-blue-400 text-sm placeholder-gray-400 bg-gray-50 hover:bg-white"
    />
  </p-inputGroup>

  <!-- Filter Dropdown -->
  <p-dropdown
    [options]="categoryOptions"
    [(ngModel)]="selectedFilteredValue"
    placeholder="Filter by Category"
    [filter]="true"
    class="w-full p-0"
    [panelStyle]="{ borderRadius: '0.75rem' }"
    styleClass="custom-dropdown"
  ></p-dropdown>

  <!-- Sort Dropdown -->
  <p-dropdown
    [options]="sortOptions"
    [(ngModel)]="sortOption"
    placeholder="Sort By"
    class="w-full p-0"
    [panelStyle]="{ borderRadius: '0.75rem' }"
    styleClass="custom-dropdown"
  ></p-dropdown>
</div>
