<div class="p-2 space-y-6">
  <!-- heading -->
  <div
    class="flex items-center border-l-8 border-blue-600 bg-white p-4 rounded-xl shadow-lg space-x-4"
  >
    <div>
      <h2 class="text-3xl font-bold text-blue-800">Passwords</h2>
      <p class="text-sm text-gray-500">
        Manage and access all your password securely.
      </p>
    </div>
  </div>
  <!-- Search, Filter, Sort Controls -->
  <app-search-component
    (result)="filteredPasswordList = $event"
    (sortChange)="onSortChange($event)"
    [categoryOptions]="categoryOptions"
    [sortOptions]="sortOptions"
    [data]="decryptedPasswords"
    [sortFun]="sortFn"
    [sortOption]="sortOption"
  ></app-search-component>

  <!-- Additional CSS -->
  <style>
    /* Extra polish for dropdowns */
    ::ng-deep .custom-dropdown .p-dropdown-label {
      padding: 0.75rem 1rem;
    }

    ::ng-deep .custom-dropdown .p-dropdown {
      border-radius: 0.75rem;
    }
  </style>

  <!-- Password List -->
  <div class="space-y-6 mt-6">
    <!-- Display passwords if available -->
    @if (loading) {
    <div class="loader"></div>
    } @else if( filteredPasswordList.length > 0){
    <div>
      @for (password of filteredPasswordList; track password._id) {
      <div
        class="mb-6 flex flex-col md:flex-row items-center justify-between p-6 bg-white shadow-lg rounded-2xl hover:shadow-xl transition-shadow duration-300 ease-in-out"
      >
        <!-- Left: Logo + Website & Username -->
        <div class="flex items-center space-x-4 w-full md:w-1/4">
          <!-- Display the website logo as an image -->
          <img
            [src]="'https://img.logo.dev/' + getDomainFromUrl(password.website)"
            alt="{{ password.website }} logo"
            class="w-10 h-10 rounded-md"
          />
          <div>
            <div class="font-semibold text-blue-800 text-xl">
              {{ getDomainFromUrl(password.website) }}
            </div>
            <div class="text-base text-gray-500">{{ password.userName }}</div>
          </div>
        </div>

        <!-- Middle: Email ID (Hidden on small screens) -->
        <div
          class="flex items-center justify-center space-x-3 w-full md:w-1/4 justify-center mt-3 md:mt-0 md:block hidden"
        >
          <div
            class="flex items-center space-x-2 text-gray-600 font-bold text-lg"
          >
            <span>{{ password.email }}</span>
            <button
              class="flex items-center justify-center p-1 text-sm text-gray-600 hover:text-blue-500 transition-all duration-200"
              aria-label="Copy Password"
              (click)="copyField(password.email, 'email')"
            >
              <i class="pi pi-clone text-lg"></i>
              <!-- Adjusted icon size -->
            </button>
          </div>
        </div>

        <!-- Right: Censored Password & Copy (Hidden on small screens) -->
        <div
          class="flex items-center space-x-3 w-full md:w-1/4 justify-center mt-3 md:mt-0 md:block hidden"
        >
          <div class="flex items-center space-x-2 text-gray-400 text-base">
            @if (password.toggle) {
            <span class="text-base font-bold text-gray-600">{{
              password.password
            }}</span>
            } @else {
            <span>••••••••••••••••••••••••</span>
            }
            <button
              class="flex items-center justify-center p-1 text-sm text-gray-600 hover:text-blue-500 transition-all duration-200"
              aria-label="Copy Password"
              (click)="copyField(password.password, 'password')"
            >
              <i class="pi pi-clone text-lg"></i>
              <!-- Adjusted icon size -->
            </button>
            <button
              class="flex items-center justify-center p-1 text-sm text-gray-600 hover:text-blue-500 transition-all duration-200"
              aria-label="Copy Password"
              (click)="password.toggle = !password.toggle"
            >
              <!-- <i class="pi pi-eye text-lg"></i> Adjusted icon size -->
              <i
                [ngClass]="
                  password.toggle
                    ? 'pi pi-eye-slash text-xl'
                    : 'pi pi-eye text-xl'
                "
              ></i>
            </button>
          </div>
        </div>

        <!-- Last: View Password Button -->
        <div class="flex w-full md:w-1/4 justify-end mt-3 md:mt-0">
          <button
            pButton
            label="View Details"
            (click)="viewDetails(password)"
            class="p-button-primary p-2 rounded-md shadow-sm hover:shadow-md transition-all duration-200"
          ></button>
        </div>
      </div>
      }
    </div>
    } @else {
    <div
      class="flex flex-col items-center justify-center text-center py-20 text-gray-500"
    >
      <div class="bg-blue-100 text-blue-600 p-6 rounded-full shadow-inner">
        <i class="pi pi-inbox text-9xl"></i>
      </div>
      <h3 class="mt-6 text-xl font-semibold">No Passwords Found</h3>
      <p class="mt-2 text-sm text-gray-400 max-w-sm">
        You haven’t added any passwords yet. Click the
        <strong class="text-blue-600">Add Password</strong>
        button to get started.
      </p>
    </div>

    }
  </div>
</div>
