@if (passwordForm) {
<form
  [formGroup]="passwordForm"
  (ngSubmit)="onSubmit()"
  class="w-full max-w-2xl mx-auto bg-white/80 backdrop-blur-sm p-8 rounded-3xl shadow-xl space-y-6 border border-gray-200"
>
  <!-- Title -->
  <div class="text-center">
    <h2 class="text-3xl font-semibold text-gray-800">
      <i class="pi pi-lock mr-2"></i> @if(sender){ Manage Shared Password }
      @else { View Shared Password }
    </h2>
  </div>

  <!-- Mails -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <!-- Sender Email -->
    <p-floatLabel variant="on">
      <label for="senderMail" class="text-gray-600">
        <i class="pi pi-user mr-1"></i>Sender Email
      </label>
      <input
        pInputText
        id="senderMail"
        formControlName="senderMail"
        class="w-full px-4 py-3 rounded-xl border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
        readonly
      />
    </p-floatLabel>

    <!-- Receiver Email -->
    <p-floatLabel variant="on">
      <label for="receiverMail" class="text-gray-600">
        <i class="pi pi-users mr-1"></i>Receiver Email
      </label>
      <input
        pInputText
        id="receiverMail"
        formControlName="receiverMail"
        class="w-full px-4 py-3 rounded-xl border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
        readonly
      />
    </p-floatLabel>
  </div>

  <!-- Website -->
  <p-floatLabel variant="on">
    <label for="website" class="text-gray-600"
      ><i class="pi pi-globe mr-1"></i>Website</label
    >
    @if(sender) {
    <input
      pInputText
      id="website"
      formControlName="website"
      class="w-full px-4 py-3 rounded-xl border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
    } @else {
    <input
      pInputText
      id="website"
      [value]="passwordForm.get('website')?.value"
      class="w-full px-4 py-3 rounded-xl border border-gray-300 bg-gray-100"
      readonly
    />
    }
  </p-floatLabel>

  <!-- Username -->
  <p-floatLabel variant="on">
    @if(sender) {
    <input
      pInputText
      id="userName"
      formControlName="userName"
      class="w-full px-4 py-3 rounded-xl border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
    } @else {
    <input
      pInputText
      id="userName"
      [value]="passwordForm.get('userName')?.value"
      class="w-full px-4 py-3 rounded-xl border border-gray-300 bg-gray-100"
      readonly
    />
    }
    <label for="userName" class="text-gray-600"
      ><i class="pi pi-user mr-1"></i>Username</label
    >
  </p-floatLabel>

  <!-- Email -->
  <p-floatLabel variant="on">
    @if(sender) {
    <input
      pInputText
      id="email"
      type="email"
      formControlName="email"
      class="w-full px-4 py-3 rounded-xl border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
    } @else {
    <input
      pInputText
      id="email"
      type="email"
      [value]="passwordForm.get('email')?.value"
      class="w-full px-4 py-3 rounded-xl border border-gray-300 bg-gray-100"
      readonly
    />
    }
    <label for="email" class="text-gray-600"
      ><i class="pi pi-envelope mr-1"></i>Email</label
    >
  </p-floatLabel>

  <!-- Password -->
  <p-floatLabel variant="on">
    <div class="relative flex">
      @if(sender) {
      <input
        pInputText
        id="password"
        formControlName="password"
        [type]="passwordVisible ? 'text' : 'password'"
        class="w-full px-4 py-3 rounded-l-xl rounded-r border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <button
        type="button"
        class="absolute top-1/2 right-16 -translate-y-1/2 text-gray-500"
        (click)="passwordVisible = !passwordVisible"
      >
        <i
          class="pi"
          [class.pi-eye]="!passwordVisible"
          [class.pi-eye-slash]="passwordVisible"
        ></i>
      </button>
      <button
        type="button"
        class="absolute top-0 right-0 h-full px-4 flex items-center justify-center bg-blue-600 text-white rounded-r-lg shadow-md z-10"
        (click)="showDialog()"
      >
        <i class="pi pi-cog text-2xl"></i>
      </button>
      } @else {
      <input
        pInputText
        id="password"
        [type]="passwordVisible ? 'text' : 'password'"
        [value]="passwordForm.get('password')?.value"
        class="w-full px-4 py-3 rounded-xl border border-gray-300 bg-gray-100"
        readonly
      />
      <button
        type="button"
        class="absolute top-1/2 right-4 -translate-y-1/2 text-gray-500"
        (click)="passwordVisible = !passwordVisible"
      >
        <i
          class="pi"
          [class.pi-eye]="!passwordVisible"
          [class.pi-eye-slash]="passwordVisible"
        ></i>
      </button>
      }
    </div>
    <label for="password" class="text-gray-600"
      ><i class="pi pi-key mr-1"></i>Password</label
    >
  </p-floatLabel>

  <!-- Category -->
  <p-floatLabel variant="on">
    @if(sender) {
    <p-select
      id="category"
      formControlName="category"
      [options]="categoryOptions"
      optionLabel="label"
      [filter]="true"
      class="w-full px-4 py-3 rounded-xl border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
    } @else {
    <input
      pInputText
      id="category"
      [value]="passwordForm.get('category')?.value?.label || ''"
      class="w-full px-4 py-3 rounded-xl border border-gray-300 bg-gray-100"
      readonly
    />
    }
    <label for="category" class="text-gray-600"
      ><i class="pi pi-tag mr-1"></i>Category</label
    >
  </p-floatLabel>

  <!-- Notes -->
  <p-floatLabel variant="on">
    @if(sender) {
    <textarea
      pInputText
      id="notes"
      formControlName="notes"
      rows="2"
      class="w-full px-4 py-3 rounded-xl border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 resize-none"
    ></textarea>
    } @else {
    <textarea
      pInputText
      id="notes"
      [value]="passwordForm.get('notes')?.value"
      rows="2"
      class="w-full px-4 py-3 rounded-xl border border-gray-300 bg-gray-100 resize-none"
      readonly
    ></textarea>
    }
    <label for="notes" class="text-gray-600"
      ><i class="pi pi-comment mr-1"></i>Notes (Optional)</label
    >
  </p-floatLabel>

  <!-- Datepicker -->
  <p-floatLabel variant="on">
    @if(sender) {
    <p-datepicker
      formControlName="expireDate"
      id="on_label"
      showIcon
      [minDate]="minDate"
      [showButtonBar]="true"
      [readonlyInput]="true"
    />
    } @else {
    <input
      pInputText
      id="expireDate"
      [value]="passwordForm.get('expireDate')?.value | date"
      class="w-full px-4 py-3 rounded-xl border border-gray-300 bg-gray-100"
      readonly
    />
    }
    <label for="on_label" class="text-gray-600"
      ><i class="pi pi-calendar mr-1"></i>Expiry Date</label
    >
  </p-floatLabel>

  @if(sender) {
  <div class="pt-4 flex gap-4">
    <button
      type="submit"
      [disabled]="!formChanged || passwordForm.invalid"
      [ngClass]="{
        'bg-blue-400 cursor-not-allowed': !formChanged || passwordForm.invalid,
        'bg-blue-600 hover:bg-blue-700 cursor-pointer':
          formChanged && !passwordForm.invalid
      }"
      class="flex-1 flex items-center justify-center gap-2 text-white px-6 py-3 rounded-full text-md font-medium shadow-lg transition"
    >
      <i class="pi pi-save"></i>
      <span>Edit Password</span>
    </button>

    <button
      type="button"
      class="flex-1 flex items-center justify-center gap-2 bg-red-500 hover:bg-red-600 text-white px-6 py-3 rounded-full text-md font-medium shadow-lg transition"
      (click)="openDeleteDialog()"
    >
      <i class="pi pi-trash text-lg"></i>
      <span>Delete Password </span>
    </button>
  </div>
  }
</form>

@if(sender) {
<form #dialog>
  <p-dialog
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: '35rem' }"
    contentStyleClass="overflow-hidden"
  >
    <div class="h-full flex flex-col">
      <div class="overflow-y-auto px-4" style="max-height: 30rem">
        <app-password-modal #passwordModal></app-password-modal>
      </div>
      <div
        class="px-4 py-4 mt-4 border-t border-blue-100 bg-white sticky bottom-0 z-10"
      >
        <div
          (click)="setPassword()"
          class="w-full text-center bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 rounded-md transition-all cursor-pointer"
        >
          Use This Password
        </div>
      </div>
    </div>
  </p-dialog>
</form>

<p-dialog
  header="Confirm Deletion"
  [(visible)]="deleteDialogVisible"
  [modal]="true"
  [closable]="false"
  [dismissableMask]="true"
  styleClass="rounded-xl"
  class="w-[90vw] md:w-[30vw] max-w-[30rem] text-2xl"
>
  <div class="text-gray-700 text-lg leading-relaxed break-words">
    Are you sure you want to
    <strong class="text-red-600">permanently delete</strong> this password?
    <br />
    <span class="block mt-1">Once deleted, it can't be recovered.</span>
  </div>

  <div class="flex justify-end space-x-3 mt-6">
    <button
      pButton
      label="Cancel"
      (click)="cancelDelete()"
      class="p-button-secondary"
    ></button>
    <button
      pButton
      label="Delete"
      (click)="confirmDelete()"
      class="p-button-danger"
    ></button>
  </div>
</p-dialog>
} } @else {
<h1>Loading...</h1>
}
