<div class="max-w-xl w-full p-6 space-y-6">
    <!-- Header Tabs -->
    <div class="flex justify-center">
        <div role="button" tabindex="0" (click)="selectedTab = 'password'" [ngClass]="{
          'bg-blue-600 text-white': selectedTab === 'password',
          'bg-gray-100 text-blue-800': selectedTab !== 'password'
        }" class="px-4 py-2 rounded-l-md cursor-pointer transition">
            Generate Password
        </div>

        <div role="button" tabindex="0" (click)="selectedTab = 'passphrase'" [ngClass]="{
          'bg-blue-600 text-white': selectedTab === 'passphrase',
          'bg-gray-100 text-blue-800': selectedTab !== 'passphrase'
        }" class="px-4 py-2 rounded-r-md cursor-pointer transition">
            Generate Passphrase
        </div>
    </div>

    @if(selectedTab === 'password'){
    <app-modal-password #passwordModal></app-modal-password>
    }
    @else if (selectedTab === 'passphrase') {
    <app-modal-passphrase #passphraseModal></app-modal-passphrase>
    }
</div>